<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bgw.testing.dao.mapper.bgw_automation.TsReportResultMapper">
  <resultMap id="BaseResultMap" type="com.bgw.testing.dao.pojo.bgw_automation.TsReportResult">
    <id column="batch_no" jdbcType="VARCHAR" property="batchNo" />
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="total_num" jdbcType="INTEGER" property="totalNum" />
    <result column="succ_num" jdbcType="INTEGER" property="succNum" />
    <result column="fail_num" jdbcType="INTEGER" property="failNum" />
    <result column="pass_rate" jdbcType="VARCHAR" property="passRate" />
    <result column="executor" jdbcType="VARCHAR" property="executor" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    batch_no, task_id, start_time, end_time, total_num, succ_num, fail_num, pass_rate, 
    executor, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ts_report_result
    where batch_no = #{batchNo,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ts_report_result
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ts_report_result
    where batch_no = #{batchNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bgw.testing.dao.pojo.bgw_automation.TsReportResult">
    insert into ts_report_result (batch_no, task_id, start_time, 
      end_time, total_num, succ_num, 
      fail_num, pass_rate, executor, 
      create_time)
    values (#{batchNo,jdbcType=VARCHAR}, #{taskId,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{totalNum,jdbcType=INTEGER}, #{succNum,jdbcType=INTEGER}, 
      #{failNum,jdbcType=INTEGER}, #{passRate,jdbcType=VARCHAR}, #{executor,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bgw.testing.dao.pojo.bgw_automation.TsReportResult">
    insert into ts_report_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="batchNo != null">
        batch_no,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="totalNum != null">
        total_num,
      </if>
      <if test="succNum != null">
        succ_num,
      </if>
      <if test="failNum != null">
        fail_num,
      </if>
      <if test="passRate != null">
        pass_rate,
      </if>
      <if test="executor != null">
        executor,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="batchNo != null">
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalNum != null">
        #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="succNum != null">
        #{succNum,jdbcType=INTEGER},
      </if>
      <if test="failNum != null">
        #{failNum,jdbcType=INTEGER},
      </if>
      <if test="passRate != null">
        #{passRate,jdbcType=VARCHAR},
      </if>
      <if test="executor != null">
        #{executor,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bgw.testing.dao.pojo.bgw_automation.TsReportResult">
    update ts_report_result
    <set>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="totalNum != null">
        total_num = #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="succNum != null">
        succ_num = #{succNum,jdbcType=INTEGER},
      </if>
      <if test="failNum != null">
        fail_num = #{failNum,jdbcType=INTEGER},
      </if>
      <if test="passRate != null">
        pass_rate = #{passRate,jdbcType=VARCHAR},
      </if>
      <if test="executor != null">
        executor = #{executor,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where batch_no = #{batchNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bgw.testing.dao.pojo.bgw_automation.TsReportResult">
    update ts_report_result
    set task_id = #{taskId,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      total_num = #{totalNum,jdbcType=INTEGER},
      succ_num = #{succNum,jdbcType=INTEGER},
      fail_num = #{failNum,jdbcType=INTEGER},
      pass_rate = #{passRate,jdbcType=VARCHAR},
      executor = #{executor,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where batch_no = #{batchNo,jdbcType=VARCHAR}
  </update>
</mapper>